{% extends 'auth/layout.twig' %}


    {% block auth_content %}

        <div class="col-sm-6 col-sm-offset-3">
            <form action="{{ path_for('password.reset', {'token' : token}) }}" method="post" novalidate>
                {{ csrf.field | raw }}
                <div class="form-group  {{ errors.password ? 'has-error' : '' }}">
                    <label for="password">New Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="New Password"
                           value="{{ old.password }}">
                    <div class="help-block"> {{ errors.password | first }} </div>
                </div>
                <button type="submit" class="btn btn-success">Update Password</button>
                <a class="btn btn-info" href="{{ path_for('auth.login') }}">Cancel</a>
            </form>
        </div>

    {% endblock %}